fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
passlib
bcrypt==4.0.1
PyJWT
python-multipart
groq
pydantic
python-dotenv
beautifulsoup4
requests
youtube-transcript-api
langchain-core
langchain
langchain-community
langchain-groq
